<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">

<head>
  <link rel='preconnect dns-prefetch' href='https://triplewhale-pixel.web.app/' crossorigin />
  <link rel='preconnect dns-prefetch' href='https://api.config-security.com/' crossorigin />

  <!-- PAGEFLY CART HELPER - DO NOT DELETE -->
  <!--    <script>
          try {
          setTimeout(function () {
            window.__pagefly_helper_store__ &&
              window.__pagefly_helper_store__.subscribe(function (res) {
            	document.dispatchEvent(new CustomEvent('ajaxProduct:added', {
                    detail: {
                      product: res,
                      addToCartBtn: ''
                    }
                          }));
		});
          }, 2500);
        } catch (e) {
          console.warn(e);
        }
    </script> -->
  <script>
    /* >> TriplePixel :: start*/
    ~function (W, H, A, L, E, _, B, N) { function O(U, T, H, R) { void 0 === R && (R = !1), H = new XMLHttpRequest, H.open("GET", U, !0), H.send(null), H.onreadystatechange = function () { 4 === H.readyState && 200 === H.status ? (R = H.responseText, U.includes(".txt") ? eval(R) : N[B] = R) : (299 < H.status || H.status < 200) && T && !R && (R = !0, O(U, T - 1)) } } if (N = window, !N[H + "sn"]) { N[H + "sn"] = 1; try { A.setItem(H, 1 + (0 | A.getItem(H) || 0)), (E = JSON.parse(A.getItem(H + "U") || "[]")).push(location.href), A.setItem(H + "U", JSON.stringify(E)) } catch (e) { } A.getItem('"!nC`') || (A = N, A[H] || (L = function () { return Date.now().toString(36) + "_" + Math.random().toString(36) }, E = A[H] = function (t, e) { return W = L(), (E._q = E._q || []).push([W, t, e]), W }, E.ch = W, B = "configSecurityConfModel", N[B] = 1, O("//conf.config-security.com/model", 0), O("//triplewhale-pixel.web.app/triplefw.txt?", 5))) } }("K", "TriplePixel", localStorage);
/* << TriplePixel :: end*/
  </script>{% render 'pagefly-head' %}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-262880675-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-262880675-1');
  </script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z7TF33DE6B"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-Z7TF33DE6B');
  </script>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NWMCMXP');</script>
  <!-- End Google Tag Manager -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="format-detection" content="telephone=no">

  {%- if settings.favicon -%}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  {% include 'seo-title' %}
  <title>{{ seo_title }}</title>

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'social-meta-tags' %}

  {% include 'font-face' %}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'a2reviews-custom.css' | asset_url | stylesheet_tag }}

  {% style %}
  .collection-item__title {
  font-size: {{ settings.type_collection_size | times: 0.8 }}px;
  }

  @media screen and (min-width: 769px) {
  .collection-item__title {
  font-size: {{ settings.type_collection_size }}px;
  }
  }
  {% endstyle %}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = window.theme || {};
    theme.strings = {
      addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: { { 'products.product.sold_out' | t | json } },
    unavailable: { { 'products.product.unavailable' | t | json } },
    stockLabel: { { 'products.product.stock_label' | t: count: '[count]' | json } },
    willNotShipUntil: { { 'products.product.will_not_ship_until' | t: date: '[date]' | json } },
    willBeInStockAfter: { { 'products.product.will_be_in_stock_after' | t: date: '[date]' | json } },
    waitingForStock: { { 'products.product.waiting_for_stock' | t | json } },
    savePrice: { { 'products.general.save_html' | t: saved_amount: '[saved_amount]' | json } },
    cartEmpty: { { 'cart.general.empty' | t | json } },
    cartTermsConfirmation: { { 'cart.general.terms_confirm' | t | json } }
    };
    theme.settings = {
      dynamicVariantsEnable: true,
      dynamicVariantType: {{ settings.variant_type | json }},
    cartType: { { settings.cart_type | json } },
    currenciesEnabled: { { settings.enable_currencies | json } },
    nativeMultiCurrency: { { shop.enabled_currencies.size } } > 1 ? true : false,
      moneyFormat: { { shop.money_format | json } },
    saveType: { { settings.product_save_type | json } },
    recentlyViewedEnabled: false,
      predictiveSearch: { { settings.predictive_search_enabled } },
    predictiveSearchType: { { settings.search_type | json } },
    inventoryThreshold: { { settings.inventory_threshold } },
    quickView: { { settings.quick_shop_enable } },
    themeName: 'Impulse',
      themeVersion: "2.6.0"
    };
  </script>

  {{ content_for_header }}

  {% include 'vitals-loader' %}

  <script src="{{ 'vendor-scripts-v6.js' | asset_url | split: '?' | first }}" defer="defer"></script>

  {% if settings.enable_currencies %}
  {% unless shop.enabled_currencies.size > 1 %}
  <script src="/services/javascripts/currencies.js" defer="defer"></script>
  <script src="{{ 'currencies.jquery.min.js' | asset_url | split: '?' | first }}" defer="defer"></script>
  {% endunless %}
  <link rel="stylesheet" href="{{ 'currency-flags.css' | asset_url }}">
  {% endif %}

  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

  {%- if request.page_type contains 'customers/' -%}
  <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}
  {% include 'judgeme_core' %}
  <!-- BeginConsistentCartAddon -->
  <script>  {% if customer %} Shopify.merge_cart_text = '{{ "consistent_cart_addon.merge_cart_text" | t }}'; Shopify.customer_logged_in = true; Shopify.customer_email = "{{ customer.email }}"; Shopify.log_uuids = true; {% else %} Shopify.customer_logged_in = false; Shopify.customer_email = ""; Shopify.log_uuids = true; {% endif %}  </script>
  <!-- EndConsistentCartAddon -->

  {% include 'a2reviews-head-var' %}
  <!--Gem_Page_Header_Script-->
  {% render 'gem-app-header-scripts' %}
  <!--End_Gem_Page_Header_Script-->
  <!-- DO NOT REMOVE Effective Apps TiXel Code Start-->
  <link id="eaManualTPI" />
  <script> !function (w, d, t) { w.TiktokAnalyticsObject = t; var ttq = w[t] = w[t] || []; ttq.methods = ["page", "track", "identify", "instances", "debug", "on", "off", "once", "ready", "alias", "group", "enableCookie", "disableCookie"], ttq.setAndDefer = function (t, e) { t[e] = function () { t.push([e].concat(Array.prototype.slice.call(arguments, 0))) } }; for (var i = 0; i < ttq.methods.length; i++)ttq.setAndDefer(ttq, ttq.methods[i]); ttq.instance = function (t) { for (var e = ttq._i[t] || [], n = 0; n < ttq.methods.length; n++)ttq.setAndDefer(e, ttq.methods[n]); return e }, ttq.load = function (e, n) { var i = "https://analytics.tiktok.com/i18n/pixel/events.js"; ttq._i = ttq._i || {}, ttq._i[e] = [], ttq._i[e]._u = i, ttq._t = ttq._t || {}, ttq._t[e] = +new Date, ttq._o = ttq._o || {}, ttq._o[e] = n || {}; var o = document.createElement("script"); o.type = "text/javascript", o.async = !0, o.src = i + "?sdkid=" + e + "&lib=" + t; var a = document.getElementsByTagName("script")[0]; a.parentNode.insertBefore(o, a) }; ttq.load("CGABAT3C77U082QFE0T0"); ttq.page(); }(window, document, "ttq"); </script>
  <!-- DO NOT REMOVE Effective Apps TiXel Code End-->
  {% include "omega-google-conversion-tracking" %}
  <meta name="google-site-verification" content="1-EQabHZHVzgJFIDDe3leL0uhTMRRIGNyZG4gKmlenE" />
  {% if template contains 'pf' %}
  <style>
    @media screen and (max-width: 767px) {

      body.js-drawer-open,
      body {
        overflow: visible !important;
      }
    }
  </style>
  {% endif %}
</head>

<body
  class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if settings.enable_currencies %} currencies-enabled{% endif %}"
  data-transitions="false">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NWMCMXP" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% comment %}
  Enable below script if page transitions enabled
  {% endcomment %}
  {% comment %}
  <script type="text/javascript">window.setTimeout(function () { document.body.className += " loaded"; }, 25);</script>
  {% endcomment %}

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t
    }}</a>

  <div id="PageContainer" class="page-container">
    <div class="transition-body">

      {% section 'header' %}

      <main class="main-content" id="MainContent">
        {{ content_for_layout }}
      </main>

      {% section 'footer-promotions' %}
      {% section 'footer' %}

    </div>
  </div>

  {% section 'newsletter-popup' %}

  {%- if settings.cart_type == 'drawer' -%}
  {%- include 'ajax-cart-template' -%}
  {%- endif -%}

  {%- if settings.enable_currencies -%}
  {%- include 'currency-modal' -%}
  {%- endif -%}

  {% comment %}
  Custom markup for slider arrows using theme icons
  {% endcomment %}
  <div class="hide">
    <button id="prevArrowTemplate" class="slick-prev" aria-label="{{ 'general.pagination.previous' | t }}"
      type="button">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-left"
        viewBox="0 0 284.49 498.98">
        <path
          d="M249.49 0a35 35 0 0 1 24.75 59.75L84.49 249.49l189.75 189.74a35.002 35.002 0 1 1-49.5 49.5L10.25 274.24a35 35 0 0 1 0-49.5L224.74 10.25A34.89 34.89 0 0 1 249.49 0z" />
      </svg>
      <span class="icon__fallback-text">{{ 'general.pagination.previous' | t }}</span>
    </button>
    <button id="nextArrowTemplate" class="slick-next" aria-label="{{ 'general.pagination.next' | t }}" type="button">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right"
        viewBox="0 0 284.49 498.98">
        <path
          d="M35 498.98a35 35 0 0 1-24.75-59.75l189.74-189.74L10.25 59.75a35.002 35.002 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L59.75 488.73A34.89 34.89 0 0 1 35 498.98z" />
      </svg>
      <span class="icon__fallback-text">{{ 'general.pagination.next' | t }}</span>
    </button>
  </div>

  {%- if settings.predictive_search_enabled -%}
  {%- include 'predictive-template' -%}
  {%- endif -%}

  {% include 'video-modal' %}
  {% include 'photoswipe-template' %}
  {% if template contains 'product' %}
  {% include 'recently-viewed-product-template' %}
  {% endif %}
  {% include 'revy-bundle-script' %}
  <!--Gem_Page_Footer_Script-->
  {% render 'gem-app-footer-scripts', GEM_FOOTER_SCRIPT: GEM_FOOTER_SCRIPT %}
  <!--End_Gem_Page_Footer_Script-->
  <!-- subify Snippet Start -->
  {% if content_for_header contains 'https:\/\/app-subify.shopgram.app\/subify-script-tag-for-snippet.js' %}

  {% render 'subify-snippet' %}

  {% endif %}
  <!-- subify Snippet End -->

  <!-- PAGEFLY CART HELPER - DO NOT DELETE -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    try {
      setTimeout(function () {
        console.log("theme.liquid, getting cart.json every 2500sec");
        window.__pagefly_helper_store__ &&
          window.__pagefly_helper_store__.subscribe(function (res) {
            $.getJSON('/cart.json').then(cart => {
              $('body').trigger('added.ajaxProduct', this.$addToCart);
              document.dispatchEvent(new CustomEvent('ajaxProduct:added', {
                detail: { product: product_id }
              }));
            });
          });
      }, 2500);
    } catch (e) { console.warn(e); }
  </script>
  <script>
    window.addEventListener('DOMContentLoaded', function () {
      $(document).ready(function () {
        console.log("theme.liquid, DOMContentLoaded")
        $.fn.customeUpsaleProduct = function () {
          let cst_elt = $('[data-custome_upsale_product]');
          let product_handle = cst_elt.attr('data-product_handle');
          let variant_id = cst_elt.attr('data-variants');
          $.get(product_handle).then(function (res, status, e) {
            fetch("/cart.js").then((response) => response.json()).then((res1) => {
              if (e.status == 200) {
                // console.log(res.product);
                let flag = true;
                $.each(res1.items, function (key1, val1) {
                  if (val1.id == variant_id) {
                    flag = false;
                  }
                })
                if (flag) {
                  $.each(res.product.variants, function (key, val) {
                    if (val.id == variant_id) {
                      cst_elt.find('a').attr('href', product_handle.replace('.json', '')).find('img').attr('src', res.product.image.src).attr('alt', res.product.title);
                      cst_elt.find('.ajaxcart__product-name--wrapper').text(res.product.title);
                      cst_elt.find('.ajaxcart__product-meta').text(val.title);
                      cst_elt.find('.ajaxcart__price').text('$' + val.price);
                    }
                  });
                  $('.upsale_product').show();
                } else {
                  $('.upsale_product').hide();
                }
              } else {
                $('.upsale_product').hide();
              }
            });
          });
        }
        $(document).on('click', '[data-add_to_cart="related_product"]', function () {
          let cst_elt = $('[data-custome_upsale_product]');
          let variant_id = cst_elt.attr('data-variants');
          // let qty = $('[data-custome_upsale_product]').find('.js-qty__num').val();
          let qty = 1;
          theme.cart.addItemFromForm({
            items: [
              {
                id: variant_id,
                quantity: qty
              }
            ]
          });
          setTimeout(function () {
            $('body').trigger('added.ajaxProduct');
          }, 1000);
        });
        $('body').on('added.ajaxProduct qty.cart-drawer', function () {
          setTimeout($.fn.customeUpsaleProduct, 1000);
        });
        setTimeout($.fn.customeUpsaleProduct, 1000);
      });
    });
  </script>
  <style>
    div#CartDrawer {
      font-weight: 600;
    }

    .ajaxcart__product-image img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      border-radius: 20px;
    }

    .drawer .js-qty__adjust {
      border-color: #ffffff;
      color: #000;
      fill: #fff;
      background-color: #000;
      border-radius: 40px;
      height: 21px;
    }

    .upsale_product .ajaxcart__row>.grid {
      margin-left: -15px;
      padding: 11px;
      background-color: #fff;
      box-shadow: #00000029 0 0 0.375rem;
      border-radius: 20px;
    }

    .titleupsale h3 {
      text-align: center;
      font-weight: 600;
      margin-bottom: 35px;
    }

    .drawer svg.svg-inline--fa.fa-lock.fa-w-14 {
      width: 10px;
    }

    .js-drawer-open .appear-animation {
      opacity: 1;
      transform: translateY(0);
      padding-bottom: unset;
    }

    .drawer-fotter-img {
      padding: 0px 25px;
    }

    .drawer__footer.appear-animation.appear-delay-7.cysp {
      box-shadow: 0 2px 20px #0000001a;
      border-top: 1px solid #e3d8d8;
    }

    .drawer__fixed-header {
      border-bottom: 1px solid #c6c0c0;
      height: 160px;
    }

    button.btn.btn--small.bntserr {
      background-color: #000;
      border-radius: 20px;
      font-size: 9px;
      word-spacing: -1px;
      font-weight: 600 !important;
      text-transform: capitalize;
      argin-top: 9px;
    }

    span.CartItem__compareprice {
      color: #aba7d8;
    }

    .ajaxcart__product-name--wrapper {
      margin-bottom: 2px;
    }

    span.CartItem__compareprice:before {
      content: "";
      display: block;
      border-top: 2px solid #aa9add;
      bottom: 0;
      left: 0;
      position: absolute;
      height: 9px;
      transform: rotate(-15deg);
      width: 100%;
    }

    span.CartItem__compareprice {
      color: #aba7d8;
      color: #aa9add;
      position: relative;
      font-size: 12px;
    }
  </style>




  {% render 'oneclickupsellapp-theme', oneclickupsellapp: oneclickupsellapp %}
  {% assign oneclickupsellapp = true %}


</body>

</html>